*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1200px){
    .header-phone{
        display: none;
    }
    .header-pc{
        display: none !important;
        height: 70px !important;
        padding: 0 30px !important;
        width: 100%;
        font-size: 18px;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
        .header-item{
            color: #212353;
            cursor: pointer;
            margin-right: 35px;
            padding: 2px 12px;
            font-family: sanbold;
            &.selected{
                background: #fff;
                border-radius:15px;
                opacity: 1;
            }
        }
        .header-r{
          
            display: flex;
            align-items: center;
            .out-item{
                display: block;
                background-position:center;
                background-size:cover;
                width:30px;
                height: 30px;
                margin-right: 15px;
                cursor: pointer;
            }
            .out-item:nth-child(1){
                background-image: url('@/icons/svg/i_f.svg');
                &:hover{
                    background-image: url('@/assets/icon/i_f_s.png');
                }
            }
            .out-item:nth-child(2){
                background-image: url('@/icons/svg/i_p.svg');
                &:hover{
                    background-image: url('@/assets/icon/i_p_s.png');

                }
            }
            .out-item:nth-child(3){
                background-image: url('@/icons/svg/i_b.svg') ;
                &:hover{
                    background-image: url('@/assets/icon/i_t_s.png');
                }
            }
            .out-item:nth-child(4){
                background-image: url('@/icons/svg/i_m.svg');
                &:hover{
                    background-image: url('@/assets/icon/i_m_s.png');
                }
            }
        
        }

    }
    :deep(.ant-spin-container)::after{
        background-color: #0A0A11;
    }
    :deep(.ant-layout-header) {
    
        line-height:normal;
    }
}

@media screen and (min-width:0px) and (max-width:1200px){
    .header-pc{
        display: none;
    }
    .header-phone{
        display: none !important;
        background: none;
        padding:10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
        .logo{
            width: 115px;
            height: 30px;
        }
        .list{
            width:25px;
            height:25px;
        }
    }
    .mylist{
        .title{
            padding: 50px 30px 50px;
            border-bottom:1px solid #fff;
            .logo-phone{
                width: 140px;
            }
        }
        .ment-item{
            padding-left: 30px;
            display: flex;
            align-items: center;
            font-size: 18px;
            color: #212353;
            height: 80px;
            .item-icon{
                width:25px;
                height: 25px;
                margin-right: 15px;
            }
            .name-text{
                font-family:sanbold;
            }
        }
        .links{
            display: flex;
            align-items: center;
            padding-left: 30px;
            margin-top: 50px;
            img{
                width: 30px;
                margin-right: 25px;
            }
        }
        
    }
}

